<div class="container mt-4">
    <h2>Edit Password</h2>
  
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |msg| %>
          <p class="mb-0"><%= msg %></p>
        <% end %>
      </div>
    <% end %>
  
    <%= form_with url: user_password_path(@user), method: :patch do |f| %>
      <div class="mb-3">
        <%= f.label :password, "Password", class: "form-label" %>
        <%= f.password_field :password, name: "user[password]", class: "form-control" %>
      </div>
  
      <div class="mb-3">
        <%= f.label :password_confirmation, "Password confirmation", class: "form-label" %>
        <%= f.password_field :password_confirmation, name: "user[password_confirmation]", class: "form-control" %>
      </div>
  
      <%= f.submit "Update Password", class: "btn btn-primary" %>
    <% end %>
  </div>